/* Chat.module.css */
.wave-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .wave-text-button {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .wave-text-button span {
    display: inline-block;
    font-size: 1rem;
    animation: wave-button 1s ease-in-out infinite;
    color: inherit;
  }
  
  .wave-text-button span:nth-child(1) {
    animation-delay: 0s;
  }
  .wave-text-button span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave-text-button span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave-text-button span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes wave-button {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }

@keyframes slideSideBar {
  0% { 
    transform: translateX(-100%);
  }
  50% { 
    transform: translateX(20px);
  }
  100% { 
    transform: translateX(0);
  }
}

.sideBar {
  animation: slideSideBar 0.5s ease-in-out;
}

@keyframes slideConversation {
  0% { 
    transform: translateX(-100%);
  }
  50% { 
    transform: translateX(7px);
  }
  100% { 
    transform: translateX(0);
  }
}

.slideConversation {
  animation: slideConversation 0.3s ease-in-out;
}


@keyframes slideMensasgeUser {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.slideMensasgeUser {
  animation: slideMensasgeUser 0.1s ease-in-out;
}

@keyframes slideLogo {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-7px);
    transform: scale(1.1);
  }
  100% {
    transform: translateX(0);
  }
}

.slideLogo {
  animation: slideLogo 0.5s ease-in-out;
}

.conversas {
  border-bottom: 2px solid #e40000;
  border-radius: 2.5px;
}

@keyframes bgChat {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 20%;
  }
}

.bg-chat-placeholder {
  background-image: url('/images.png');
  background-size: 25%;
  background-position: center; 
  background-repeat: no-repeat; 
  animation: bgChat 0.8s ease-in-out;
}